/* You can add global styles to this file, and also import other style files */

/* Uncomment to use Bootstrap */
/* @import 'bootstrap/scss/bootstrap'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

* {
  box-sizing: border-box;
}
